[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/yihui/hugo-xmin.git
