body {
      font-family: 'Open Sans', 'Nunito Sans', Optima, Candara, Calibri, Arial, sans-serif;
}
.titlefont {
    font-family: 'Nunito Sans', 'Open Sans', Optima, Candara, Calibri, Arial, sans-serif;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
