body {
	counter-reset: theorem lemma corollary proposition;
}

.theorem {
	display: block;
	font-style: italic;
	background-color: #F6F8FA;
	padding: 10px;
}
.theorem::before {
	counter-increment: theorem;
	content: "Theorem " counter(theorem) ". ";
	font-weight: bold;
	font-style: normal;
}
.theorem[text]::before {
	content: "Theorem " counter(theorem) " (" attr(text) "). ";
}

.lemma {
	display: block;
	font-style: italic;
	background-color: #F6F8FA;
	padding: 10px;
}
.lemma::before {
	counter-increment: lemma;
	content: "Lemma " counter(lemma) ". ";
	font-weight: bold;
	font-style: normal;
}
.lemma[text]::before {
	content: "Lemma " counter(lemma) " (" attr(text) "). ";
}

.proposition {
	display: block;
	font-style: italic;
	background-color: #F6F8FA;
	padding: 10px;
}
.proposition::before {
	counter-increment: proposition;
	content: "Proposition " counter(proposition) ". ";
	font-weight: bold;
	font-style: normal;
}
.proposition[text]::before {
	content: "Proposition " counter(proposition) " (" attr(text) "). ";
}

.corollary {
	display: block;
	font-style: italic;
	background-color: #F6F8FA;
	padding: 10px;
}
.corollary::before {
	counter-increment: corollary;
	content: "Corollary " counter(corollary) ". ";
	font-weight: bold;
	font-style: normal;
}
.corollary[text]::before {
	content: "Corollary " counter(corollary) " (" attr(text) "). ";
}

.proof {
	display: block;
}
.proof::before {
	content: "Proof: ";
	font-style: italic;
}
.proof[text]::before {
	content: "Proof (" attr(text) "): ";
}
.proof::after {
	float: right;
	content: "\2610";
}
