<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
</head>

<body>
    <div class="titlefont">
        <div id="languages">
            {{ partial "languages.html" . }}
        </div>
        <h1 id="name" >{{ .Site.Author.fullname }}</h1>
        <div id="taglines">
            {{ range .Site.Params.Taglines }}
                {{ if eq .type "image" }}
                    <img src="{{ .tagline | relURL }}" height="{{ .height }}"></img><br>
                {{ else if eq .type "link" }}
                    <a href="{{ .tagline }}">{{ .tagline }}</a><br>
                {{ else }}
                    {{ .tagline }}<br>
                {{ end }}
            {{ end }}
        </div>
        <div id="socials">
        {{ with .Site.Params.social }}
        <ul>
        {{ range sort .}}
            {{ if .icon }}
            <li>
                <a href="{{ .url }}" aria-label="{{ .name }}"><i class="{{ .icon }}" aria-hidden></i></a>
            </li>
            {{ else }}
            <li>
                <a href="{{ .url }}" aria-label="{{ .name }}">{{ .name }}</a>
            </li>
            {{ end }}
        {{ end }}
        </ul>
        {{ end }}
        </div>
        <nav>
            <ul class="menu normallink">
                {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <hr/>
        </nav>
    </div>
